# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Additions
.vscode/
build/
sysroot/bin/
sysroot/home/
sysroot/share/
sysroot/usr/src/
sysroot/i686-elf/
sysroot/lib/
sysroot/libexec/
sysroot/tmp/

*.kernel
*.iso
*.tar
*.gz
*.bz
*.xz
*.lz
